* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Baloo Tamma 2", cursive;
  position: relative;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding: 0 10%;
}
header {
  height: 15vh;
  margin-right: auto;
  padding: 0 30vw 0 5vw;
  position: relative;
  nav {
    height: inherit;
    @include flex();
    .logo {
      @include flex();
      margin-right: auto;
      img {
        height: 4vh;
      }
      .logoname {
        height: 3vh;
        margin-left: 1vw;
      }
    }
    .nav-link {
      @include flex();
      flex: 1;
      margin-left: 8vw;
      font-weight: 700;
    }
    .top-btn {
      position: relative;
      text-decoration: none;
      cursor: pointer;
      z-index: 1;
      color: white;
      &::before {
        position: absolute;
        content: "";
        height: 6vh;
        width: 8vw;
        top: 0;
        left: 0;
        display: inline-block;
        background-color: #db5341;
        border-radius: 0.4rem;
        z-index: -1;
        transform: translate(-25%, -20%);
      }
    }
  }
}
section {
  height: 100vh;
  .landing-image {
    float: right;
    height: 100vh;
    margin-top: -10vh;
  }
  .landing-desc {
    position: absolute;
    font-weight: 700;
    margin-top: 20vh;
    h1 {
      position: relative;
      font-size: 5rem;
      &::after {
        content: "";
        display: block;
        position: absolute;
        transform: skewY(-1deg);
        right: 0%;
        bottom: 15%;
        height: 1vh;
        width: 40%;
        background: #db5341;
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: normal;
    }
  }
}
.cta-btn {
  position: relative;
  margin-top: 15vh;
  padding: 2vh 6vw;
  background-color: #db5341;
  border: 3px solid #db5341;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  font-family: "Baloo Tamma 2", cursive;
  z-index: 1;
  &::after {
    content: "";
    transition: 0.4s all ease;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 0%;
    transform: translateX(-20%);
    border-radius: 0.6rem;
  }
  &:hover::after {
    z-index: -1;
    width: 100%;
    transform: translateX(0%);
  }
  &:hover {
    color: #db5341;
  }
  &:focus {
    outline: none;
  }
}

// section
.wave {
  position: absolute;
  margin-top: 50vh;
  height: 80vh;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}
#cards {
  height: 100vh;
  position: relative;
  .card-wrapper {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 10%;
    @include flex();
    .card {
      position: relative;
      height: 100%;
      width: 25vw;
      z-index: 1;
      transition: 1s all ease;
      overflow: hidden;
      img {
        height: inherit;
      }
      .card-options {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        opacity: 0.8;
        top: -100%;
        left: 0;
        transition: 1s all ease;
        z-index: 1;
        h3 {
          color: black;
          z-index: 2;
          position: absolute;
          top: 10%;
          left: 50%;
          font-size: 2rem;
          transform: translateX(-50%);
        }
        .card-btn,
        .card-btn-view {
          position: absolute;
          font-size: 1rem;
          bottom: 10%;
          margin: 0 2vw;
          padding: 1vh 1vh;
        }
        .card-btn {
          bottom: 10%;
        }
        .card-btn-view {
          right: 0;
        }
      }
      &:hover .card-options {
        top: 0%;
      }
    }
  }
}

#contact {
  margin-top: 30vh;
  color: white;
  background-image: radial-gradient(rgb(128, 117, 117), rgb(66, 65, 65)),
    url(../Assets/pexels-skitterphoto-877220.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 100vh;
  @include flex();
  flex-direction: column;
  [data-scroll="out"] {
    margin-left: -50vw;
    opacity: 0;
  }
  [data-scroll="in"] {
    margin-left: 0vw;
    opacity: 1;
  }
  h1 {
    position: relative;
    margin-top: 10vh;
    font-size: 3rem;
    text-transform: capitalize;
    &::after {
      content: "";
      display: block;
      position: absolute;
      transform: skewY(-1deg);
      left: 0;
      bottom: 5%;
      height: 1vh;
      width: 100%;
      background: #db5341;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      transform: skewY(-1deg);
      left: 0;
      top: 0;
      height: 1vh;
      width: 100%;
      background: #db5341;
    }
  }
  .email {
    h3 {
      font-size: 1.4rem;
    }
    input {
      padding: 2vh 5vw;
      border: 0;
      border-radius: 0.6rem;
    }
    width: 50%;
    @include flex();
  }
}

footer {
  background-color: #db5341;
  color: white;
  height: 8vh;
  @include flex();
  h3 {
    flex: 1;
  }
  .social-links {
    @include flex();
    height: 8vh;
    width: 10vw;
    span {
      margin: 0;
    }
  }
}

[data-scroll] {
  transition: all 2s ease;
}
[data-scroll="in"] {
  transform: translateX(0px);
  opacity: 1;
}
[data-scroll="out"] {
  transform: translateX(-500px);
  opacity: 0;
}
