#logpassword {
  grid-row: 4/5;
  grid-column: 1/3;
}
#logname {
  grid-row: 3/4;
  grid-column: 1/3;
}
#logbody {
  background-image: url("../Assets/pexels-pixabay-301669.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: white;
}
