@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Baloo Tamma 2", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

main {
  float: left;
  position: fixed;
  height: 100vh;
  width: 20vw;
  font-weight: bold;
  color: #acacac;
}

main li {
  padding: 1vh 3vw;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main li:hover {
  background-color: #504f4f;
}

main nav {
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#504f4f), to(#353535));
  background-image: linear-gradient(#504f4f, #353535);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  padding: 0;
  height: inherit;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main nav .logo {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
}

main nav .logo img {
  height: 5vh;
}

main nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 1.1rem;
}

.card1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.cards-wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vh 1fr 1fr;
      grid-template-columns: 30vh 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.cards-wrapper .card1,
.cards-wrapper .card2,
.cards-wrapper .card3 {
  position: relative;
  text-align: center;
  margin: 4vh;
  -webkit-transition: all 0.5s cubic-bezier(0.06, 0.76, 0.54, 0.35);
  transition: all 0.5s cubic-bezier(0.06, 0.76, 0.54, 0.35);
  border: 2px solid #504f4f;
}

.cards-wrapper .card1 h1,
.cards-wrapper .card2 h1,
.cards-wrapper .card3 h1 {
  padding-top: 5vh;
  z-index: 2;
}

.cards-wrapper .card1 img,
.cards-wrapper .card2 img,
.cards-wrapper .card3 img {
  height: 10vh;
  margin-top: 10vh;
}

.cards-wrapper .card1::after,
.cards-wrapper .card2::after,
.cards-wrapper .card3::after {
  -webkit-transition: all 0.5s cubic-bezier(0.06, 0.76, 0.54, 0.35);
  transition: all 0.5s cubic-bezier(0.06, 0.76, 0.54, 0.35);
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#504f4f), to(#353535));
  background-image: linear-gradient(#504f4f, #353535);
  -webkit-clip-path: circle(50px at -100% 100%);
          clip-path: circle(50px at -100% 100%);
  z-index: -1;
}

.cards-wrapper .card1:hover,
.cards-wrapper .card2:hover,
.cards-wrapper .card3:hover {
  color: white;
}

.cards-wrapper .card1:hover::after,
.cards-wrapper .card2:hover::after,
.cards-wrapper .card3:hover::after {
  -webkit-clip-path: circle(1000px);
          clip-path: circle(1000px);
}

.active {
  background-color: #504f4f;
}

section {
  height: 100vh;
  width: 85vw;
  margin-left: 15vw;
}

section h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 10vh;
}

.pure {
  width: 60vw;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
}

.pure .thead-dark {
  background-color: #504f4f;
  color: white;
}

.pure .thead-dark th {
  padding: 1vh 0;
  font-size: 1.2rem;
}

.pure td {
  padding: 2vh 0;
  font-size: 1.2rem;
}

tbody button {
  margin: 0 1vw;
}

tbody button img {
  height: 3vh;
}

form {
  width: 60%;
  margin: auto;
}

.input-field {
  position: relative;
  width: 90%;
  height: 10vh;
  overflow: hidden;
  position: relative;
  margin-top: 5vh;
}

.input-field input {
  height: 10vh;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding-top: 6vh;
  background: transparent;
}

.input-field input:focus ~ label span,
.input-field input:valid ~ label span {
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
  font-size: 14px;
  color: #db5431;
}

.input-field input:focus ~ label::after,
.input-field input:valid ~ label::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.input-field label {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  bottom: 0;
}

.input-field label::after {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #db5431;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.input-field span {
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  bottom: 1vh;
}

.cta-btn {
  position: relative;
  margin-top: 15vh;
  padding: 2vh 6vw;
  background-color: #db5341;
  border: 3px solid #db5341;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  font-family: "Baloo Tamma 2", cursive;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cta-btn::after {
  content: "";
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 0%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  border-radius: 0.6rem;
}

.cta-btn:hover::after {
  z-index: -1;
  width: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.cta-btn:hover {
  color: #db5341;
}

.cta-btn:focus {
  outline: none;
}
/*# sourceMappingURL=admin.css.map */